{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}


  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="inquiryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Property:</label>
              <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

  
  <section class="bg-half-170 pb-5 d-table w-100" style="background: url('/static/img/03.jpg');">
    <div class="bg-overlay bg-gradient-overlay-2"></div>
    <div class="container">
        <div class="row m-5 p-3 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">{{ listing.address }}</h5>

                    <ul class="list-unstyled mb-0 mt-5 py-3">
                        <li class="list-inline-item">
                            <span class="d-flex align-items-center me-4">
                                <i class="mdi mdi-arrow-expand-all fs-4 me-2 text-primary"></i>
                                <span class="text-white-50 fs-5">{{ listing.sqft }}</span>
                            </span>
                        </li>

                        <li class="list-inline-item">
                            <span class="d-flex align-items-center me-4">
                                <i class="mdi mdi-bed fs-4 me-2 text-primary"></i>
                                <span class="text-white-50 fs-5">{{listing.bedrooms}} Beds</span>
                            </span>
                        </li>

                        <li class="list-inline-item">
                            <span class="d-flex align-items-center">
                                <i class="mdi mdi-shower fs-4 me-2 text-primary"></i>
                                <span class="text-white-50 fs-5">{{ listing.bathrooms }}  Bath</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
  </div>
</div>


<section class="section">
  <div class="container">
    {% include 'partials/_alerts.html' %}
      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="tiny-one-item">
                  <div class="tiny-slide">
                      <div class="m-md-2">
                          <img src="{{ listing.photo_main.url }}" class="shadow rounded-3 img-fluid" alt="">
                      </div>
                  </div>
                  {% if listing.photo_1 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_1.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
                  {% if listing.photo_2 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_2.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
                  {% if listing.photo_3 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_3.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
                  {% if listing.photo_4 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_4.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
                  {% if listing.photo_5 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_5.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
                  {% if listing.photo_6 %}
                  <div class="tiny-slide">
                    <div class="m-md-2">
                        <img src="{{ listing.photo_6.url }}" class="shadow rounded-3 img-fluid" alt="">
                    </div>
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>
  </div><!--end container-->

  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
              <div class="features-absolute subscribe-search">
                  <div class="row justify-content-center">
                      <div class="col-lg-10 col-md-9">
                          <div class="rounded-3 shadow bg-white sticky-bar p-4">
                              <h5 class="mb-3">Asking Price:</h5>
  
                              <div class="d-flex align-items-center justify-content-between">
                                  <h5 class="mb-0">$ {{ listing.price | intcomma }}</h5>
                                  <span class="badge bg-primary">For Sale</span>
                              </div>
  
                              <div class="">
                                  <div class="d-flex align-items-center justify-content-between mt-2">
                                      <span class="small text-muted">Listing Date:</span>
                                      <span class="small">{{ listing.list_date }}</span>
                                  </div>
  
                                  <div class="d-flex align-items-center justify-content-between mt-2">
                                      <span class="small text-muted">Realtor:</span>
                                      <span class="small">{{ listing.realtor }}</span>
                                  </div>
  
                              </div>
  
                              <div class="d-flex mt-3">
                                  <a href="#contactus"  class="btn btn-primary w-100 me-2">Make Inquiry</a>
                              </div>
                          </div>
                      </div><!--end col-->
                  </div><!--end row-->
              </div>
          </div><!--end col-->
      </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-muted">{{ listing.description }}</p>
          </div>
      </div>
  </div>
{% include 'partials/_alerts.html' %}

  <div class="container mt-3" id="contactus">
    <div class="row justify-content-center">
      <div class="col">
        <div class="section-title text-center p-2">
          <h4 class="title mb-3">Make an Inquiry</h4>
        </div>
      </div>
    </div>

    <section class=" pb-0">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="p-4 rounded-3 shadow" style="background-color: #eff4f4;">
                    <form method="post" name="myForm" onsubmit="return validateForm()" action="{% url 'contact' %}">
                      {% csrf_token %}
                      
                    <p class="mb-0" id="error-msg"></p>
                          <div id="simple-msg"></div>
                          <div class="row">
                              <div class="col-12">
                                {% if user.is_authenticated %}
                                  <input type="hidden" name="user_id" value="{{ user.id }}">
                                {% else %}
                                  <input type="hidden" name="user_id" value="0">
                                {% endif %}
                              </div>
                              <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
                              <input type="hidden" name="listing_id" value="{{ listing.id }}">
                              <div class="col-md-12">
                                  <div class="mb-3">
                                      <label class="form-label">Property</label>
                                      <input name="listing" id="name" type="text" class="form-control" value="{{ listing.title }}">
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="mb-3">
                                      <label class="form-label">Address</label>
                                      <input name="address" id="name" type="text" class="form-control" value="{{ listing.address }}">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="mb-3">
                                      <label class="form-label">Your Name <span class="text-danger">*</span></label>
                                      <input name="name" id="name" type="text" class="form-control" placeholder="Name :" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                                  </div>
                              </div>

                              <div class="col-md-6">
                                  <div class="mb-3">
                                      <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                      <input name="email" id="email" type="email" class="form-control" placeholder="Email :" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                                  </div> 
                              </div><!--end col-->
                              <div class="col-md-12">
                                  <div class="mb-3">
                                      <label class="form-label">Your Phone Number <span class="text-danger">*</span></label>
                                      <input name="phone" id="phone" type="tel" class="form-control" placeholder="Input with country code" >
                                  </div> 
                              </div><!--end col-->

                              <div class="col-12">
                                  <div class="mb-3">
                                      <label class="form-label">Message:  <span class="text-danger">*</span></label>
                                      <textarea name="message" id="comments" rows="4" class="form-control" placeholder="Type your message..."></textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <div class="d-grid">
                                      <button type="submit" id="submit" name="Send" class="btn btn-primary">Send Message</button>
                                  </div>
                              </div><!--end col-->
                          </div><!--end row-->
                      </form>
                  </div>
              </div><!--end col-->
          </div><!--end row-->
      </div>
  </div>
  
</section>

{% endblock %}