# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python test cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/